# When adding additional environment variables, the schema in "/src/env.mjs"
# should be updated accordingly.

# Postgres to prisma
DATABASE_URL="postgresql://postgres:postgres@localhost:8000/postgres"

# Pedir ao admin
NEXTAUTH_SECRET=""
NEXTAUTH_URL="http://localhost:3000"

# Pedir ao admin
JWT_SIGNING_PRIVATE_KEY=""

# Sendgrid
SENDGRID_API_KEY=""
SENDGRID_EMAIL=""

